<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>С днем рождения!</title>
    <link rel="stylesheet" href="/static/dasha_birthday.css">
</head>
<body>
    <div class="container">
        <div class="msg">
          <ul class="happy">
            <li>С</li>
            <li>Д</li>
            <li>Н</li>
            <li>Е</li>
            <li>М</li>
          </ul>
          <ul class="bday">
            <li>Р</li>
            <li>О</li>
            <li>Ж</li>
            <li>Д</li>
            <li>Е</li>
            <li>Н</li>
            <li>И</li>
            <li>Я,</li>
          </ul>
           <ul class="happy">
            <li>Д</li>
            <li>А</li>
            <li>Ш</li>
            <li>А</li>
            <li>!</li>
          </ul>
        </div>
      </div>
      
</body>
</html>