<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bd_dasha.css">
    <title>С днем рождения!</title>
</head>
<body>
	<div class="container">
        <h1>С днем рождения, Даша!</h1>
        
            <div class="dog">
                    <div class="dog-head">
                        <div class="dog-ears ears-left"></div>
                        <div class="dog-ears ears-right"></div>
                        <div class="dog-eyes"></div>
                        <div class="dog-mouth">
                            <div class="dog-nose"></div>
                            <div class="dog-tongue"></div>
                        </div>
                    </div>
                    <div class="dog-tail"></div>
                    <div class="dog-body">
                        <div class="dog-foot"></div>
                    </div>
                  <div class="gift">
          <div class="gift-top"></div>
          <div class="gift-box"></div>
        </div>
                </div>
        
            </div>
</body>
</html>