<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/style.css" />
    <title>Не болей, Даша!</title>
</head>
<body>
    <div id="app">
        <h1>Не болей, Даша!</h1>
        <p class="star"></p>
        <p class="star"></p>
        <p class="star"></p>
        <p class="star"></p>
        <p class="star"></p>
        <p class="star"></p>
        <p class="star"></p>
    </div>
</body>
<style>
    
</style>
</html>