<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/success_style.css" />
    <title>Не унывай!</title>
</head>
<body>
    
    <div class="bomb-rocket"></div>
    <div class="bomb-rocket"></div>
    <div class="bomb-rocket"></div>
    <div class="bomb-rocket"></div>
    <div class="bomb-rocket"></div>
    <div class="bomb-rocket"></div>
    <div class="bomb-rocket"></div>
    <div class="bomb-rocket"></div>
    <div class="bomb-rocket"></div>
    <div class="bomb-rocket"></div>
    <div class="bomb-rocket"></div>
    <div class="bomb-rocket"></div>
    <div class="bomb-rocket"></div>
    <div class="bomb-rocket"></div>
    <div class="bomb-rocket"></div>
    <div class="normal-rocket"></div>
    <div class="normal-rocket"></div>
    <div class="normal-rocket"></div>
    <div class="normal-rocket"></div>
    <div class="normal-rocket"></div>
    <div class="normal-rocket"></div>
    <div class="normal-rocket"></div>
    <div class="normal-rocket"></div>
    <div class="normal-rocket"></div>
    <div class="normal-rocket"></div>
    <div class="normal-rocket"></div>
    <div class="normal-rocket"></div>
    <div class="normal-rocket"></div>
    <div class="normal-rocket"></div>
    <div class="normal-rocket"></div>
    <div class="text">Даша, у тебя все получится!</div>
</body>
</html>